html {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0.5em;
}

.App-link {
  color: #61dafb;
}

main {
  display: flex;
  align-items: stretch;
}

aside {
  background-color: lightgray;
  padding: 0.5em;
}

aside .title {
  margin: 0;
}
