*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 120%;
}

.document {
  height: 100vh;
}

*:focus {
  outline: 3px dotted dodgerblue;
  outline-offset: -1px;
}

.App-header {
  background-color: gainsboro;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1rem 0;
  grid-template-columns: minmax(180px, 240px) 1fr 210px;
}

.App-header > * {
  padding: 0 1rem;
}

.App-header input {
  width: 100%;
}

.App-link {
  color: #61dafb;
}

main {
  display: grid;
  grid-template-columns: minmax(180px, 240px) 1fr;
  height: 100%;
}

aside {
  background-color: lightgray;
  padding: 1.75rem 1rem;
}

aside .title {
  margin: 0;
}

article {
  padding: .5rem 1rem;
}

button {
  font-size: 16px;
  padding: 8px;
}

button, input {
  border: 1px solid gray;
}

ul > li {
  margin-bottom: 8px;
}
